# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn
    - run: yarn build firefox
    - run: node scripts/sign-firefox.js
      env:
        FIREFOX_API_KEY: ${{ secrets.FIREFOX_API_KEY }}
        FIREFOX_API_SECRET: ${{ secrets.FIREFOX_API_SECRET }}
    - run: node scripts/update-page.js
    - run: |
        git add .
        git commit -m "Update pages with new Firefox build"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
