# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    # - name: Use Node.js ${{ matrix.node-version }}
    #   uses: actions/setup-node@v1
    #   with:
    #     node-version: ${{ matrix.node-version }}
    # - run: yarn
    # - run: yarn build firefox
    # - run: node scripts/sign-firefox.js
    #   env:
    #     FIREFOX_API_KEY: ${{ secrets.FIREFOX_API_KEY }}
    #     FIREFOX_API_SECRET: ${{ secrets.FIREFOX_API_SECRET }}
    # - run: node scripts/update-page.js
    - name: Test add file
      run: LC_ALL=C tr -dc 'A-Za-z0-9!"#$%&'\''()*+,-./:;<=>?@[\]^_`{|}~' </dev/urandom | head -c 13 >dummy.txt
    - run: |
        git config --local push.followTags false
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update pages with new Firefox build"
    - name: Push changes
      # uses: matita/github-push-action@follow-tags
      uses: ./.github/actions/github-push-action
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        follow_tags: false
